<main>
  <div class="main_content">
    <p class="title main_title">タイピングゲーム</p>
    <div class="information">
      <p>残り時間: <span id="your_remaining_time">60</span></p>
      <p>スコア: <span id="your_score">0</span></p>
    </div>
    <div class="question_space" id="question_space">
      <p class="title">タイピングゲーム</p>
      <p class='navigation'>Escape or Space => スタート</p>
    </div>
    <div class="how_to_play">
      <p>単語を入力してください</p>
      <p>OK→Enter/Return</p>
      <p>修正→Delete/Backspace</p>
    </div>
  <div>
</main>