<div>
  <div>
    <p>Question <span id="question_count">1</span></p>
    <p>Your Score: <span id="your_score">0</span></p>
    <p>Remaining time: <span id="your_remaining_time">60</span></p>
  </div>
  <div id="question_space">
  </div>
  <div>How To Play</div>
</div>