<div>
  <div>count</div>
  <div>
    <p>number</p>
    <h1 id="question_english_word"><%= @english_word %></h1>
    <h3 id="question_japanese_word"><%= @japanese_word %></h3>
  </div>
  <div>
    <p>↓Your word↓</p>
    <h1 id="input_word"></h1>
  </div>
  <div>How To Play</div>
</div>