// Place all the styles related to the typings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  height: 100vh;
  width: 100vw;
  background-color: green;
}

header {
  height: 10vh;
  background-color: skyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_title {
  font-size: 48px;
  padding: 0 20px;
}

.user_controller {
  color: blue;
  font-size: 24px;
  background-color: lightgreen;
  padding: 10px;
  margin: 0 20px;
  border: 2px solid red;
  text-decoration: none;
  border-radius: 10px;
}

main {
  background-color: yellow;
  width: 100%;
  height: 90vh;
  display: flex;
}

.left_contents {
  height: 100%;
  width: calc((100vw - 600px)/2);
  background-color: green;
}

.your_best_title, .ranking_title {
  text-align: center;
}

.your_best {
  width: 70%;
  height: 200px;
  background-color: violet;
  margin: 0 auto;
}

.main_contents {
  height: 100%;
  width: 600px;
  background-color: white;
}

.game_information {
  font-size: 24px;
  width: 100%;
  background-color: #DEF;
}

.question_space {
  height: 210px;
  width: 90%;
  border: 3px double green;
  background-color: #DEF;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
}

.question_first_title {
  font-size: 36px;
  text-align: center;
}

.navigation {
  font-size: 24px;
  text-align: center;
}

.count_number {
  font-size: 24px;
  color:#4C0;
}

.question_number {
  font-size: 16px;
}

.question_english_word {
  font-size: 48px;
}

.question_japanese_word {
  font-size: 24px;
}

.input_form {
  height: 170px;
  text-align: center;
}

.input_helper {
  font-size: 24px;
}

.input_word {
  height: 72px;
  width: 80%;
  border-bottom: 5px solid red;
  margin: 0 auto;
  font-size: 48px;
}

.judgement {
  font-size: 36px;
  height: 58px;
}

.result {
  font-size: 36px;
}

.how_to_play {
  font-size: 24px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: #DEF;
}

.right_contents {
  height: 100%;
  width: calc((100vw - 600px)/2);
  background-color: red;
}

.ranking {
  width: 70%;
  height: 200px;
  background-color: #DEF;
  margin: 0 auto;
}